In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\radhi\Downloads\datasets\flights_raw_messy.csv")

In [4]:
#check first rows

df.head()

,Flight Date,Airline,Origin,Destination,Departure Delay,Arrival Delay,Distance,Cancelled,Tail Number,Remarks
0,2024-01-01,air india,,NaN,NaN,8888.0,-50.0,1.0,,on time
1,2024-01-02,NaN,lax,LHR,5.0,8888.0,0.0,0.0,,OK
2,2024-01-03,IndiGo,DEL,NaN,10.0,NaN,1500.0,0.0,VT-123,OK
3,2024-01-04,NaN,lax,SFO,0.0,120.0,1500.0,1.0,n999bb,on time
4,2024-01-05,NaN,SFO,NaN,300.0,8888.0,-50.0,1.0,NaN,CANCELLED

In [5]:
#check last rows

df.tail()

,Flight Date,Airline,Origin,Destination,Departure Delay,Arrival Delay,Distance,Cancelled,Tail Number,Remarks
315,2024-03-19,air india,lax,jfk,0.0,500.0,-50.0,1.0,VT-123,OK
316,2024-01-12,IndiGo,SFO,LHR,0.0,120.0,1200.0,NaN,VT-123,CANCELLED
317,2024-06-16,air india,SFO,LHR,300.0,0.0,NaN,0.0,n999bb,diverted
318,2024-08-08,Southwest,lax,SFO,10.0,8888.0,8000.0,1.0,VT-123,CANCELLED
319,2024-01-30,IndiGo,,syd,NaN,8888.0,1200.0,1.0,n999bb,CANCELLED

In [6]:
#check rows and columns

df.shape

(320, 10)

In [7]:
#check info

df.info

<bound method DataFrame.info of     Flight Date        Airline Origin Destination  Departure Delay  \
0    2024-01-01      air india                NaN              NaN
1    2024-01-02            NaN    lax         LHR              5.0
2    2024-01-03         IndiGo    DEL         NaN             10.0
3    2024-01-04            NaN    lax         SFO              0.0
4    2024-01-05            NaN    SFO         NaN            300.0
..          ...            ...    ...         ...              ...
315  2024-03-19      air india    lax         jfk              0.0
316  2024-01-12         IndiGo    SFO         LHR              0.0
317  2024-06-16      air india    SFO         LHR            300.0
318  2024-08-08    Southwest      lax         SFO             10.0
319  2024-01-30         IndiGo                syd              NaN

     Arrival Delay  Distance  Cancelled Tail Number    Remarks
0           8888.0     -50.0        1.0                on time
1           8888.0       0.0        0.0                     OK
2              NaN    1500.0        0.0      VT-123         OK
3            120.0    1500.0        1.0      n999bb    on time
4           8888.0     -50.0        1.0         NaN  CANCELLED
..             ...       ...        ...         ...        ...
315          500.0     -50.0        1.0      VT-123         OK
316          120.0    1200.0        NaN      VT-123  CANCELLED
317            0.0       NaN        0.0      n999bb   diverted
318         8888.0    8000.0        1.0      VT-123  CANCELLED
319         8888.0    1200.0        1.0      n999bb  CANCELLED

[320 rows x 10 columns]>

In [8]:
# count nulls

df.isnull().sum()

Flight Date          0
Airline             41
Origin              40
Destination         65
Departure Delay     41
Arrival Delay       46
Distance            38
Cancelled          102
Tail Number         71
Remarks             60
dtype: int64

In [9]:
df.describe(include='all')

,Flight Date,Airline,Origin,Destination,Departure Delay,Arrival Delay,Distance,Cancelled,Tail Number,Remarks
count,320,279,280,255,279.000000,274.000000,282.000000,218.000000,249,260
unique,300,5,6,5,NaN,NaN,NaN,NaN,4,5
top,2024-05-03,air india,JFK,syd,NaN,NaN,NaN,NaN,n999bb,OK
freq,2,71,53,59,NaN,NaN,NaN,NaN,70,58
mean,NaN,NaN,NaN,NaN,1234.594982,1306.894161,1917.730496,0.467890,NaN,NaN
std,NaN,NaN,NaN,NaN,3217.409140,3053.290769,2817.428819,0.500116,NaN,NaN
min,NaN,NaN,NaN,NaN,-5.000000,-100.000000,-50.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,0.000000,-10.000000,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,10.000000,15.000000,1200.000000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,300.000000,500.000000,1500.000000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,9999.000000,8888.000000,8000.000000,1.000000,NaN,NaN

In [10]:
#convert columns to clean snake_case

df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_"))

In [11]:
df.columns

Index(['flight_date', 'airline', 'origin', 'destination', 'departure_delay',
       'arrival_delay', 'distance', 'cancelled', 'tail_number', 'remarks'],
      dtype='object')

In [12]:
#check duplictaes

df.duplicated().sum()

np.int64(20)

In [13]:
#remove duplictaes
df=df.drop_duplicates()

In [14]:
#recheck if duplicates is removed or not
df.duplicated().sum()

np.int64(0)

In [23]:
#fill missing airlines

df=df.copy()
df['airline']=df['airline'].fillna('unknown')

In [24]:
#fill missing cancellation flags

df['cancelled']=df['cancelled'].fillna(0)

In [25]:
#fill delays

delay_cols = ['departure_delay', 'arrival_delay']
for col in delay_cols:
    df[col] = df[col].fillna(0)

In [26]:
#fill tail number

df['tail_number']=df['tail_number'].fillna('NA')

In [27]:
#fill remarks text

df['remarks']=df['remarks'].fillna('NO REMARK')

In [28]:
# convert date to datetime

df['flight_date']=pd.to_datetime(df['flight_date'],errors='coerce')

In [30]:
# convert numeric  columns

num_cols=['departure_delay','arrival_delay','distance','cancelled']
df[num_cols]=df[num_cols].apply(pd.to_numeric, errors='coerce')

In [31]:
#Strip spaces and fix case

df['airline']=df['airline'].str.strip().str.upper()
df['origin']=df['origin'].astype(str).str.strip().str.upper()
df['destination']=df['destination'].astype(str).str.strip().str.upper()
df['tail_number']=df['tail_number'].astype(str).str.strip().str.upper()

In [35]:
#Standardize names
df['airline'] = df['airline'].replace({
    'AIR INDIA': 'AIR INDIA',
    'INDIGO': 'INDIGO',
    'SOUTHWEST': 'SOUTHWEST',
    '  SOUTHWEST  ': 'SOUTHWEST'
})

In [37]:
#Remove distance ≤ 0

df=df[df['distance']>0]

In [38]:
#Remove extremely wrong delays

df=df[(df['arrival_delay']>=-60) & (df['departure_delay']>=-60)]

In [40]:
# creating new column total_delay

df['total_delay'] = df['arrival_delay'] + df['departure_delay']

In [41]:
#flight status

df['status']=np.where(df['cancelled']==1, 'CANCELLED','COMPLETED')

In [42]:
df.head()

,flight_date,airline,origin,destination,departure_delay,arrival_delay,distance,cancelled,tail_number,remarks,total_delay,status
2,2024-01-03,INDIGO,DEL,NAN,10.0,0.0,1500.0,0.0,VT-123,OK,10.0,COMPLETED
3,2024-01-04,UNKNOWN,LAX,SFO,0.0,120.0,1500.0,1.0,N999BB,on time,120.0,CANCELLED
5,2024-01-06,UNITED,JFK,JFK,300.0,500.0,500.0,1.0,VT-123,on time,800.0,CANCELLED
6,2024-01-07,INDIGO,,SYD,-5.0,8888.0,1500.0,0.0,,NO REMARK,8883.0,COMPLETED
7,2024-01-08,INDIGO,JFK,NAN,5.0,-10.0,8000.0,0.0,NA,delayed,-5.0,COMPLETED

In [44]:
#delay category

def delay_bucket(x):
    if x <=0:
        return 'on time'
    elif x<=60:
        return 'slight delay'
    else:
        return 'heavy delay'
    

df['delay_category']=df['total_delay'].apply(delay_bucket)

In [45]:
#export cleaned dataset

df.to_csv("flights_cleaned_final.csv", index=False)

In [47]:
df

,flight_date,airline,origin,destination,departure_delay,arrival_delay,distance,cancelled,tail_number,remarks,total_delay,status,delay_category
2,2024-01-03,INDIGO,DEL,NAN,10.0,0.0,1500.0,0.0,VT-123,OK,10.0,COMPLETED,slight delay
3,2024-01-04,UNKNOWN,LAX,SFO,0.0,120.0,1500.0,1.0,N999BB,on time,120.0,CANCELLED,heavy delay
5,2024-01-06,UNITED,JFK,JFK,300.0,500.0,500.0,1.0,VT-123,on time,800.0,CANCELLED,heavy delay
6,2024-01-07,INDIGO,,SYD,-5.0,8888.0,1500.0,0.0,,NO REMARK,8883.0,COMPLETED,heavy delay
7,2024-01-08,INDIGO,JFK,NAN,5.0,-10.0,8000.0,0.0,NA,delayed,-5.0,COMPLETED,on time
...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,2024-10-16,AIR INDIA,SFO,LHR,5.0,8888.0,1500.0,1.0,N999BB,delayed,8893.0,CANCELLED,heavy delay
290,2024-10-17,SOUTHWEST,JFK,DEL,45.0,500.0,1500.0,0.0,,CANCELLED,545.0,COMPLETED,heavy delay
293,2024-10-20,INDIGO,,LHR,10.0,-10.0,1500.0,0.0,N999BB,delayed,0.0,COMPLETED,on time
296,2024-10-23,SOUTHWEST,LAX,DEL,-5.0,15.0,8000.0,0.0,N123AA,OK,10.0,COMPLETED,slight delay
299,2024-10-26,INDIGO,JFK,DEL,0.0,15.0,8000.0,0.0,VT-123,OK,15.0,COMPLETED,slight delay